.homeContainer{
    padding-top: 70px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: WHITE;
}

.homeTitle{
    width: 1024px;
    font-size: 20px;
}