.booking {
  width: 100%;
  max-width: 1024px;
  height: 235px;
  background-color: rgb(218, 218, 218);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.booking .box {
  display: flex;
  align-items: center;
}

.booking .box .leftB {
  flex: 1;
  gap: 10px;
  display: flex;
  align-items: center;
}

.booking .box .leftB img {
  width: 200px;
  height: 200px;
}

.booking .box .leftB .desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.booking .box .rightB {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 900px;
}

/* .booking .box .rightB .cancelButton {
  display: flex;
} */

.booking .box .rightB .cancel {
  border: none;
  background: rgb(211, 57, 57);
  color: white;
  padding: 15px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
}
.booking .box .rightB .paid {
  border: none;
  background: teal;
  color: white;
  padding: 15px;
  padding-left: 15px;
  padding-right: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.booking .box .rightB .payment {
  border: none;
  background: teal;
  color: white;
  padding: 15px;
  width: 50%;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.booking .box .rightB .msgAlert{
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  color:#87bbfd
}