.bookings {
    .Bcontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      h1 {
        margin-bottom: 30px;
      }
      .Bwrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
      }
    }
  }
  