.bookings {
    .Bcontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .bookings .Bcontainer h1 {
      margin-bottom: 30px;
    }
  
    .bookings .Bcontainer .Bwrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }
  