.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}

.navButton{
    color: #003580;
    border: none;
    margin-left: 20px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

}